.menu-wrapper{
    border-color: solid black;
    border-radius: 5mm;
    background-color:#243863;
    background-blend-mode: multiply, multiply;
    width: 250mm;
    height: 350mm;
    left: auto;
    top: auto;
    margin-left: 10mm;
    margin-top: 10mm;
    position: absolute;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0mm 0mm 2.65mm rgba(0, 0, 0, 0.1);
  }
  
  /* Header Styles */
  .menu-header {
    color: #9c5716;
    text-align: center;
    font-family: 'Charm', cursive;
    padding: 5pt;
    margin-bottom: 1mm;
  }
  
  .menu-header h1 {
  
    color: rgb(241, 200, 52);
    margin: 0;
    font-family: "Mansalva", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21mm;
    font-weight: bolder;
    position: absolute;
    top: 33mm;
    left: 91mm;
  }
  
  .menu-header h2 {
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: "Mansalva", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35mm;
    position: absolute;
    top: 26mm;
    left: 66mm;
  }
  
  
  
  .cataName {
    padding: 10mm;
    font-size: 10mm;
  }
  
  .category-name {
  
    text-align: center;
    color: rgb(5, 36, 86);
    font-size: 9mm;
    position: absolute;
    left: 115mm;
    bottom: 201mm;
    font-family: "Mansalva", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .specials {
    font-family: 'Estonia', cursive;
    font-size: 25mm;
    font-weight: bold;
    margin-top: 1mm;
    margin-left: 70mm;
    text-align: start;
    font-style: italic;
  }
  
  .special-item {
    font-size: 5.5mm;
    font-family: 'Cutive', sans-serif;
    color: white;
    text-align: justify;
    left: 111mm;
    bottom: 139mm;
    /* padding-bottom: 52mm; */
    position: absolute;


  }
  .special-item-price{
    font-size: 6.5mm;
    display: flex
;
    margin-bottom: 5mm;
    margin-left: 89mm;
    margin-top: -10mm;
    color: rgb(241, 200, 52);
  }
  
  .subcategory-name {
    text-align: center;
    font-size: 9mm;
    color: rgb(5, 36, 86);
    position: absolute;
    right: 165mm;
    top: 238mm;
    font-family: "Mansalva", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cocktails {
    font-family: 'Estonia', cursive;
    font-size: 25mm;
    font-weight: bold;
    margin-top: 1mm;
    margin-left: 60mm;
    text-align: start;
    font-style: italic;
  }
  
  .cocktail-item {
    font-size: 5.5mm;
    font-family: 'Cutive', sans-serif;
    color: white;
    position: absolute;
    left: 37mm;
    bottom: 34mm;
    text-align: justify;
  
  }
  
  .cocktail-item-price{
    
    font-size: 6.5mm;
    display: flex;
    margin-bottom: 5mm;
    margin-left: 79mm;
    margin-top: -10mm;
    /* position: absolute; */
    /* top: 8mm; */
    color: rgb(241, 200, 52);
}
  
  .img1 {
    height: 90mm;
    width: 90mm;
   position: absolute;
   
    filter: invert(1) sepia(1) saturate(78) hue-rotate(682deg) brightness(0.9);
    rotate:15deg;
    position: absolute;
    left: 210mm;
    top: -4mm;
    
  }
  
  .img2 {
    height: 70mm;
    width: 90mm;
    position: absolute;
    rotate:170deg;
    filter: invert(1) sepia(1) saturate(78) hue-rotate(682deg) brightness(0.9);
    left: -20mm;
    bottom: -35mm;
  }
  
  .img3 {
    height: 164mm;
    width: 367mm;
    filter: brightness(0.5) sepia(1) saturate(5) hue-rotate(170deg);
    position: absolute;
    rotate: 141deg;
    top: -2mm;
    left: -155mm;
  }
  
  .img4 {
    height: 180mm;
    width: 200mm;
    position: absolute;
    filter: brightness(0.5) sepia(1) saturate(5) hue-rotate(170deg);
    rotate:-10deg;
    bottom: -15mm;
    left: 120mm;
  }
  
  .img5 {
    position: absolute;
   z-index: 1;
    left: 130mm;
    top: 220mm;
    height: 110mm;
    width:140mm;
  }
  
  .img6 {
    position: absolute;
    left: 15mm;
    top: 130mm;
    height: 100mm;
    width:100mm;
    z-index: 1;
    rotate:-5deg;
  }
  
  .img7 {
    position: absolute;
    left: 10mm;
    top: 180mm;
    height: 50mm;
    
    background:none;
    
    
    filter:invert(1) sepia(1) saturate(78) hue-rotate(682deg) brightness(0.9);
  }
  
  .img8 {
    position: absolute;
    left: 206mm;
    bottom: 14mm;
    height: 43mm;
    rotate: 139deg;
    filter: invert(1) sepia(1) saturate(78) hue-rotate(682deg) brightness(0.9);
  }
  
  .img9 {
    position: absolute;
    left: -13mm;
    bottom: 240mm;
    height: 72mm;
  }
  
  .img10 {
    position: absolute;
    left: -26mm;
    bottom: 260mm;
    height: 54mm;
    
  }
   
  .img11 {
    position: absolute;
    left: -19mm;
    bottom: 240mm;
    height: 57mm;
  }
   
  .img12 {
    position: absolute;
    left: 1mm;
    bottom: 248mm;
    height: 40mm;
  }
   
  .img13 {
    position: absolute;
    left: 8mm;
    bottom: 263mm;
    height: 22mm;

  }
   
  .img14 {
    position: absolute;
    left: 0mm;
    bottom: 243mm;
    height: 35mm;
  }
   
  .img15 {
    position: absolute;
    left: -22mm;
    bottom: 247mm;
    height: 48mm;
  }
   
  .img16 {
    position: absolute;
    left: -7mm;
    bottom: 258mm;
    height: 38mm;
  }
   
  .img17 {
    position: absolute;
    left: -14mm;
    bottom: 260mm;
    height: 40mm;
  }
   
  .img18 {
    position: absolute;
    left: 206mm;
    bottom: 124mm;
    height: 58mm;
  }
   
  .img19 {
    position: absolute;
    left: 207mm;
    bottom: 102mm;
    height: 72mm;
  }
   
  .img20 {
    position: absolute;
    left: 193mm;
    bottom: 103mm;
    height: 67mm;
  }
   
  .img21 {
    position: absolute;
    left: 203mm;
    bottom: 130mm;
    height: 40mm;
  }
   
  .img22 {
    position: absolute;
    left: 218mm;
    bottom: 127mm;
    height: 35mm;
  }
   
  .img23 {
    position: absolute;
    left: 218mm;
    bottom: 110mm;
    height: 40mm;
  }
   
  .img24 {
    position: absolute;
    left: 214mm;
    bottom: 131mm;
    height: 29mm;
  }
   
  .upper-box{
    width: 80mm;
    height: 16mm;
    top: 133mm;
    left: 111mm;
    position: absolute;
    border-radius: 5mm;
    background-color: rgb(241, 200, 52);
  }
  .lower-box{
    width: 71mm;
    height: 16mm;
    top: 237mm;
    left: 34mm;
    position: absolute;
    border-radius: 5mm;
    background-color: rgb(241, 200, 52);
  }
 
  
  
  